<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Correios.CEP.Net" version="1.1.6" targetFramework="net452" />
  <package id="Extended.Wpf.Toolkit" version="2.5" targetFramework="net452" />
  <package id="Infragistics.Themes.MetroLight.Wpf" version="1.0.0" targetFramework="net452" />
</packages>